.divHeader{
    height: 12vh;
    width: 100%;
    
}

.divNavbar{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 0 !important;
}

.navbar{
    height: 100%;
    width: 100% !important;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} 

#basic-navbar-nav{
    height: 100%;
    width: 100%;
}

.divLogo{
    height: 100% !important;
    width: 10%;
    margin: 0.1% 5%;
    padding: 0.5% 1% !important;
}

.divLogo img{
    height: 100% !important;
    width: 90%;
}

.me-auto{
    height: 100%;
    width: 80%;
    margin-left: 30%;
    
}

.link, .link a{
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    color: white !important;
}


.link:hover, .link a:hover{
    color: rgb(200, 229, 238) !important;
    text-shadow: -0.1rem -0.1rem 0.2rem rgba(226, 223, 223, 0.2);
    transition: all 0.4s ease-out;
    overflow: visible;
}

.dropdown-menu.show{
    position: absolute;
    bottom: 10%;
    height:5rem !important;
    width: 10% !important;
    backdrop-filter: blur(2);
    background-color: transparent;
    border: none;
}

#basic-nav-dropdown{
    bottom: 10px;
}
.dropdown-menu a{
    color: white !important;
}

  /* Media Queries para las diferentes pantallas de los dispositivos */

  @media only screen and (max-width:576px){

    .divHeader{
        height: auto;
    }

    .divLogo{
        height: 60% !important;
        width: 15%;
    }
    .divNavbar{
        width: 90% !important;
    }
  
    .navbar{
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    .navbar-toggler.collapsed, .navbar-toggler{
        border: none !important;
    }

    .navbar-toggler-icon, .navbar-toggler-icon span{
        font-size: 1.5rem;
        color: white !important;
    }
  }

  @media only screen and (min-width:576px) and (max-width:762px){
    .divHeader{
        height: auto;
        width: 100%;
    }

    .divNavbar{
        width: 90% !important;
        margin: 0 auto !important;
    }

    .divLogo{
        height: 100% !important;
        width: 12%;
    }
  
    .navbar{
        height: 100%;
        width: 80% !important;
        margin: 0 auto !important;
        min-width: 90%;
    }

    .navbar-toggler.collapsed, .navbar-toggler{
        border: none !important;
    }

    .navbar-toggler-icon, .navbar-toggler-icon span{
        font-size: 1.5rem;
        color: white !important;
    }
    .me-auto{
        width: 50%;
        margin: 0 auto;
    }
  }

  @media only screen and (min-width:762px) and (max-width:992px){
    .divHeader{
        height: 12vh;
        width: 100%;
    }

    .divLogo{
        height: 60% !important;
        width: 10%;
    }

    #basic-navbar-nav{
        height: 50%;
        width: 100%;
    }
  
    .navbar{
        height: 100%;
        width: 100% !important;
        max-width: 100% !important;
        /* margin: 0% 0%; */
        /* justify-content: flex-start; */
    }

    .navbar-toggler.collapsed, .navbar-toggler{
        border: none !important;
    }

    .navbar-toggler-icon, .navbar-toggler-icon span{
        font-size: 1.5rem;
        color: white !important;
    }

    .me-auto{
        margin: 0% auto;
    }
  }

  @media only screen and (min-width:992px){
      
    .divHeader{
        height: 12vh;
        width: 100%;
    }

    .divLogo{
        height: 80% !important;
        width: 9%;
    }

    #basic-navbar-nav{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
  
    .navbar{
        height: 100% ;
        width: 100% !important;
    }

    .navbar-toggler.collapsed, .navbar-toggler{
        border: none !important;
    }

    .navbar-toggler-icon, .navbar-toggler-icon span{
        font-size: 1.5rem;
        color: white !important;
    }

    .me-auto{
        width: auto;
        margin: 0% auto;
    }
  }

